@model IEnumerable<FRED.Proxme.Mvc.Models.WallElement>

@{ Layout = null; }

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div id="wallDiv" class=".col-md-4">

            <img src="/Images/temp/@Model.FirstOrDefault().TempId" />

        </div>
        

        break;
    }



}
else
{
    <div>
        <center>
            Your Browser Has GeoLocation Disabled...
        </center>
    </div>
}
