@model IEnumerable<InstaSharp.Sample.Mvc.Models.WallElement>

@{ Layout = null; }

<!--script>
        /*var scx = (document.getElementById("divTest4").scrollWidth - document.getElementById("divTest4").offsetWidth) / 2;
        var scy = (document.getElementById("divTest4").scrollHeight - document.getElementById("divTest4").offsetHeight) / 2;
        document.getElementById("divTest4").scrollTop = scy;*/
</script-->

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class=".col-md-4">

            <img src="/Images/temp/@Model.FirstOrDefault().TempId" />

        </div>
        

        break;
    }



}
else
{
    <div>
        <center>
            Your Browser Has GeoLocation Disabled...
        </center>
    </div>
}
