@model IEnumerable<InstaSharp.Sample.Mvc.Models.WallElement>

@{
    ViewBag.Title = "Near Me";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Near Me</title>
</head>
<body>
    <script>
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError, { maximumAge: 75000, timeout: 10000 });
        }
        else {
            $('#wait').hide();
            $('#nogeo').show();
        }
        function showPosition(position) {
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            $.ajax(
                {
                    url: '@Html.Raw(Url.Action("NearMe2","Home"))',
                    type: 'POST',
                    alert: (lat),
                    data: {
                        latitude: lat,
                        longitude: lon
                    },
                    success: function (data) {
                        $('#content').html(data);
                        $('#wait').hide();
                        $('#content').show();
                    }
                });
        }
        function showError(error) {
            $('#wait').hide();
            $('#nogeo').show();
            return;
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    alert("Permission to your location was denied.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    alert("An unknown error occurred.");
                    break;
            }
        }
    </script>

    <div id="wait">
        <center>
            <br /><br />
            Please wait...
            <br />
        </center>
    </div>

    <div id="content" hidden="true">
        @Html.Partial("NearMe2", Model)
    </div>

    <div id="nogeo" hidden="true">
        <center>
            <br /><br />
            Geolocation is disabled for your browser. iPhone users go to Settings/Privacy/Location/Safari and change setting from <i>Never</i> to <i>By Application</i>.
            <br />
        </center>
    </div>

</body>

</html>
